{{ top_level_type }} {% if name is defined and name is not none %}{{ name }}{% endif %}

{% for item in content %}
    {{ item.key }} {% if item.value is not none %}{{ item.value }}{% endif %}

{% endfor %}

